@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

html {
  min-width: fit-content;
  max-width: 100vw;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

.main-body {
  background-image: url("/images/brooke-cagle-WHWYBmtn3_0-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  color: white;
  background-size: 100vw;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  main-body {
    /* background-color: lightblue; */
    background-image: url("/images/brooke-cagle-WHWYBmtn3_0-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150vw;
    background-position-y: top;
    background-position-x: center;    
  }
}


a {
  color: rgb(255, 255, 255);
}

/* header */
.header-spacing {
  padding: 34px;
  display: flex;
}

#header {
  top: 0;
  font-family: Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: top 0.3s;
  display: block;
}

#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

#header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f400;
  text-decoration: none;
}

#header li a:hover,
#header .menu-btn:hover {
  background-color: #f4f4f400;
}

#header .logo {
  box-sizing: border-box;
  border-color: black;
  font-family: "Poppins", sans-serif;
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}


/* menu */

#header .menu {
  font-family: 'Roboto Mono', monospace;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

#header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

#header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

#header .menu-icon .navicon:before,
#header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

#header .menu-icon .navicon:before {
  top: 5px;
}

#header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

#header .menu-btn {
  display: none;
}

#header .menu-btn:checked~.menu {
  max-height: 240px;
}

#header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

#header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

#header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

#header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
#header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  #header li {
    float: left;
  }

  #header li a {
    padding: 20px 30px;
  }

  #header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  #header .menu-icon {
    display: none;
  }
}

/* BIO SECTION */

#bio-section {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 80%;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 30%;
  /* background-color: #202020; */
  padding: 15% 6%;
}

#bio-section > img {
  max-width: 50%;
  padding: 10%;
  border-radius: 50%;
}

#bio-section > p {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  max-width: 80%;
  font-size: 2.5vw;
}

#bio-section > aside {
  font-size: 2vw;
  padding-top: 5%;
  padding-left: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#bio-section > div > h1 {
  font-size: 5vw;
  text-align: center;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */

  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 2.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

#bio-section > div {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 55%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

#bio-section > form {
  width: 20%;
  padding-top: 10%;
  border-radius: 30%;
}

#bio-button {
  background-color: burlywood;
  border: none;
  line-height: 2rem;
  font-size: 1rem;
  min-width: 50%;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  #bio-section>img {
    width: 20vw;
  }
}


/* WORK SECTION */

#work-id {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  margin-top: 0;
  text-align: center;
  align-self: center;
  font-family: 'Roboto Mono', monospace;
  margin: 0%;
}

#work-id-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  text-align: center;
}

#work-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #202020;
}

#work-section > a {
  height: 26vw;
}


/* Images of work section */

#project1 {
  background-image: url("../images/project1.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  transition: all 1s;
}

#project2 {
  background-image: url("../images/project2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  transition: all 1s;
}

#project3 {
  background-image: url("../images/project3.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  transition: all 1s;
}

#project1:hover,
#project2:hover,
#project3:hover{
  transform: scale(1.2);
}

/* CSS FOR PROJECT 1 HTML */

.projects-body {
  background-color: #202020;
}


.projects-names {
  margin: 10%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
}

.projects-names > h1 {
  font-size: 10vw;
}

/* Text inside project 1's page */

#project1-text {
  margin: 10%;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project1-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#project1-text > img {
  width: 90vw;
  height: 30vw;
  padding-bottom: 70%;
  padding-top: 10%;
}

.project1-bold {
  font-size: 5vw;
  justify-content: center;
  display: flex;
  color: white;
}

.project1-divs {
  margin-top: 7%;
  margin: 5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project1-divs > p {
  font-size: 3.5vw;
}

#project1-solution {
  padding: 5%;
  color: #202020;
  background-color: burlywood;
}

#project1-solution > b {
  color: #202020;
}


/* CSS FOR PROJECT 2 HTML */

/* CSS FOR PROJECT 3 HTML */


@media only screen and (min-width: 600px) {

  .projects-names > h1 {
    font-size: 6vw;
  }

  #project1-text > p,
  .project1-divs > p {
    font-size: 2vw;
  }

  #project1-text > img {
    width: 70vw;
    height: 20vw;
    padding-bottom: 2%;
  }
}


/* ABOUT SECTION */

/***** About Section****/

#about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10cm;
  background-color: #202020;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

}

#about-section p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: none;

}

#about-section hr {
  background-color: rgba(255, 255, 255, 0.6);
  width: 30%;
  height: 1px;
  border: none;
  margin-bottom: 20px;
  align-self: center;
}

.about-me-h1 {
  font-size: 4vh;
  margin-top: 0;
  text-align: center;
  align-self: center;
  font-family: 'Roboto Mono', monospace;
}

.background > article > p{
padding-left: 20px;
padding-right: 20px;
}

#about-location img{
  width: 50px;
  
}

#about-hobbies img{
  width: 50px;
}

@media only screen and (min-width: 600px) {

  #about-section {
    width: 100vw;
  }

  .location-hobbies {
    display: flex;
    justify-content: space-evenly;

  }

 .background{
   align-self: center;
   width: 100%;

 }
 .background-h1{
   font-size: 2rem;
 }

 #about-location>h1{
  font-size: 2rem;
 }

 #about-hobbies>h1{
  font-size: 2rem;
 }

 #about-section p{
   font-size: 1.5rem;
 }

}


/***** Skills Section****/

#skills-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  background-color: burlywood;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

#skills-section hr {
  background-color: rgba(255, 255, 255, 0.6);
  width: 30%;
  height: 1px;
  border: none;
  margin-bottom: 40px;
  align-self: center;
}

#skills-section img {
  width: 50px;
}

#skills-section img:hover {
  transform: scale(1.5);
}

#skills-section>div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  width: 300px;
  
}

#skills-section > div h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: none;
}

#skills-section > div > article > p {
  text-align: center;
  color: black;
  font-family: 'Josefin Sans', sans-serif;

}



.my-skills {
  font-size: 4vh;
  margin-top: 0;
  width: 50%;
  text-align: center;
  align-self: center;
}

@media only screen and (min-width: 600px) {

  #skills-section {
    width: 100vw;
  }

  #skills-section > div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: baseline;
    width: fit-content;
    margin-left: 50px;
    margin-right: 50px;


  }

  article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 3%;
    margin-right: 3%;
  }

  #skills-section > div > article > h1{
    font-size: 2rem;
  }


#skills-section p {
  font-size: 1.5rem;
}
}



/***** Contact Me Section *****/

#contact-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  /* margin-top: 30px; */
  padding-top: 50px;
  background-color: #202020;
}


.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-me input[type="text"],
#contact-me input[type="email"],
#contact-me textarea {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  line-height: 2rem;
  font-size: 1rem;
  width: 90%;

}

#contact-me input[type=submit] {
  background-color: burlywood;
  border: none;
  line-height: 2rem;
  font-size: 1rem;
  min-width: 50%;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 5px;
}

#contact-me input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: 1s;
}

#contact-me hr {
  width: 30%;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  height: 1px;
  margin-top: 30px;
  opacity: 0.5;
}

#contact-me h3 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.contact-info-box {
  line-height: 2rem;
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
  
}

.contact-info-box > div > h3 {
  font-size: 1rem;
}


.contact-info-h3 {
  padding-bottom: 20px;
}

.send-message-h3 {
  text-align: center;
}

.message-box h3 {
  padding-bottom: 40px;
}

#contact-me h1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 3rem;
}

.send-message-h3 {
  text-align: center;
}

.talk {
  margin-top: 30px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.5;
}

.collab {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.5;
  text-align: center;
}

@media only screen and (min-width: 600px) {

  #contact-me {
    height: 100%;
    width: 100vw;
  }

  .desktop-contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 70%;
    padding-bottom: 60px;
  }

  .message-box {
    margin-right: 40px;
  }

  .contact-info-h3{
    padding-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .send-message-h3{
    text-align: center;
    font-size: 1.5rem;
  }
 
}


/***** Contact Me Section END*****/


footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: burlywood;
  padding-bottom: 10px;
  padding-top: 10px;
}

footer img{
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 600px){
  footer{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
      width: 100vw;
  }

  footer img{
    padding-right: 20px;
    padding-left: 20px;
  }
}

#invisible-header {
  background-color: #202020;
  width: 1%;
  height: 0;
}